*{
    margin:0;
    border:0;
    padding:0;

}

#text {
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(0, 35, 75);
    background-color: rgb(255, 255, 255);

    line-height: 2em;
    text-align: left;

    margin-left: 20%;
    margin-right: 20%;
    
    padding: 100px;
    padding-top: 1px;
    padding-bottom: 0;
    scrollbar-color: white;
}


h4{

    background-color: rgb(0, 35, 75);
    padding: 0;
}

ul{
    padding-left: 3em;
}

h1{
    text-align: center;
    font-size: 2.5em;
    margin-top: 2in;
    margin-bottom: 2in;
}

h2{
    text-align: left;
    margin-top: .5in;
    margin-bottom: .25in;

}
h3{
    margin-top: .25in;

}
p{
    margin-top:0
}
a{
    text-decoration: none;
    color: rgb(0, 75, 200)

}
a:visited{
    color:rgb(35, 70, 150)
}

body{
      /* The background image */
  background-image: url("banner.jpg");

  /* Set a specified height, or the minimum height for the background image */
 
  /* Set background image to fixed (don't scroll along with the page) */
  background-attachment: fixed;

  /* Center the background image */
  background-position: top, center;

  /* Set the background image to no repeat */
  background-repeat: no-repeat;

  /* Scale the background image to be as large as possible */
  background-size: auto;
}
