*{
    margin: 0;
    border: 0;
    padding: 0;
    background-color: black;
    font-size: 32px;
    font-family:'Times New Roman', Times, serif;
}
ul, li, b, h1{
    background-color: inherit;
}



.nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 30);
    
}
.nav_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Calibri;
  }
.nav_bar li {
    float:left;
}
.nav_bar .active {
    background-color: rgb(223, 223, 223);
    color: black;
}
.nav_bar ul {
    position: fixed;
    top: 0;
    width: 100%;
}
  



#intro h1{
    background: inherit;
    font-size: 3em;
    font-family: elephant;
    padding-top: 62px;
}
#intro{

    background-image: url(pictures/maob.jpg);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%, 60%;

    padding-top: 2in;
    padding-bottom: 3in;
    padding-left: 5%;
    padding-right: 50%;

   
    line-height: 4em;

    text-align: left;
    font-family:Calibri;
    background-color: rgb(20, 20, 20);
    color: white;


}
.quote{
    padding-top: 1in;
    padding-bottom: 1in;
    background-color: rgb(0,0,0);
    text-align: center;
    color: white;
}
#about h1{
    background: inherit;
    font-family: inherit;
    font-size: 2em;
    padding-bottom: 25px;
}
#about{
    background-image: url(pictures/cat_drawer.jpg);
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%, 60%;

    padding-top: 2in;
    padding-bottom: 2in;
    padding-right: 5%;
    padding-left: 55%;

    text-align: justify;
    background-color: rgb(223, 223, 223);
    color: rgb(20, 20, 20);
}
#hobbies h1{
    font-size: 2em;
}
#hobbies{

    background-image: url(pictures/mountians.jpg);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%, 60%;

    padding-top: 2in;
    padding-bottom: 2in;
    padding-left: 5%;
    padding-right: 55%;

    text-align: left;
    
    background-color: rgb(20, 20, 20);
    color: white;
}
#bragging ol{
    background-color: inherit;
    padding-left: .5in;
}
a{
    background-color: inherit;
    color: rgb(240, 240, 240)
}
#bragging{
    background-image: url(pictures/notreDame.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%, 60%;

    padding-top: 1.5in;
    padding-bottom: 1.5in;
    padding-right: 5%;
    padding-left: 55%;

    text-align: left;
    background-color: rgb(20, 20, 20);
    color: white;
}
#snake{
    color:white;
}
.spacer{
    background-color: rgb(25, 25, 25);   
    text-align: center;
    font-size: 1.5em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: .75in;
    padding-bottom: .75in;
}
.projects {
    display: inline-block; 
    width:25%;
    height: 44%;
    border: 0;
    vertical-align:top;
    color:lightblue;
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    opacity: 60%;
}
.projects h1{
    font-family: Arial, Helvetica, sans-serif;
    opacity: 100%;
    text-align: center;
    color: white;
    background-color: rgb(20, 20, 20);
    padding: 2.5%;
}

#web{
    background: url(pictures/websiteBackground.JPG);
}
#app{
    background: url(pictures/bugBackground.JPG);
}
#word{
    background: url(pictures/snakeBackground.JPG);
}
#fml{
    background: url(pictures/arrow_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.projects:hover{
    animation-name: fade;
    animation-duration: 1s;
    opacity: 100%;
}
@keyframes fade {
    from {opacity: 60%}
    to {opacity: 100%;}
  }

@media (pointer:none), (pointer:coarse) {
    #intro h1{
        background: none;
    }
    #intro{
        background-image: url(pictures/cover.jpg);
        background-attachment: scroll;
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100%, 100%;
    
        padding-top: 1in;
        padding-bottom: 1in;
        padding-left: 5%;
        padding-right: 5%;
    
       
        line-height: 4em;
    
        text-align: center;
        font-family:Calibri;
        background-color: rgb(20, 20, 20);
        color: white;
    }
    .quote{
        padding-top: .5in;
        padding-bottom: .5in;
        background-color: rgb(0,0,0);
        text-align: center;
        color: white;
    }
    #about h1{
        background: none;
    }
    #about{
        background-position: center;
        background-attachment: scroll;
        background-size: 100%;
        padding-top: 1in;
        padding-bottom: 1in;
        padding-right: 5%;
        padding-left: 5%;
    
        text-align: center;
        background-color: rgb(17, 17, 17);
        color: rgb(255, 255, 255);
    }
    #hobbies{
        background-image: none;

        padding-top: 2in;
        padding-bottom: 2in;
        padding-left: 5%;
        padding-right: 5%;
    
        text-align: center;
        
        background-color: rgb(20, 20, 20);
        color: white;
    }
    #hobbies h1{
        background-image: none;
    }
    .projects {
        width:100%;
        height: 33%;
        
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        opacity: 80%;
    }
    #bragging{
        background-image: none;
    
        padding-top: .5in;
        padding-bottom: .5in;
        padding-right: 5%;
        padding-left: 5%;
    
        text-align: center;
        background-color: rgb(223, 223, 223);
        color: black;
    }
}