*{
    margin: 0;
    border: 0;
    padding: 0;
    background-color: black;
    font-size: 32px;
    font-family:'Times New Roman', Times, serif;
}
ul, li, b, h1{
    background-color: inherit;
}

#intro h1{
    background: inherit;
    font-size: 3em;
    font-family: elephant;
}
#intro{

    background-image: url("cover.jpg");
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%, 60%;

    padding-top: 2in;
    padding-bottom: 3in;
    padding-left: 5%;
    padding-right: 50%;

   
    line-height: 4em;

    text-align: left;
    font-family:Calibri;
    background-color: rgb(20, 20, 20);
    color: white;


}
#quote, #quote2, #quote3{
    padding-top: 1in;
    padding-bottom: 1in;
    background-color: rgb(0,0,0);
    text-align: center;
    color: white;
}
#about h1{
    background: inherit;
    font-family: inherit;
    font-size: 2em;
    padding-bottom: 25px;
}
#about{
    background-image: url("beautiful.jpg");
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%, 60%;

    padding-top: 2in;
    padding-bottom: 2in;
    padding-right: 5%;
    padding-left: 55%;

    text-align: justify;
    background-color: rgb(223, 223, 223);
    color: rgb(20, 20, 20);
}
#hobbies h1{
    font-size: 2em;
}
#hobbies{

    background-image: url("cool.jpg");
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%, 60%;

    padding-top: 2in;
    padding-bottom: 2in;
    padding-left: 5%;
    padding-right: 55%;

    text-align: left;
    
    background-color: rgb(95, 95, 95);
    color: white;
}
#bragging ol{
    background-color: inherit;
    padding-left: .5in;
}
a{
    background-color: inherit;
    color: rgb(240, 240, 240)
}
#bragging{
    background-image: url("notreDame.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%, 60%;

    padding-top: 1.5in;
    padding-bottom: 1.5in;
    padding-right: 5%;
    padding-left: 55%;

    text-align: left;
    background-color: rgb(20, 20, 20);
    color: white;
}